*
!static/
!static/css/
!static/css/styles.css
!static/js/
!static/js/scripts.js
!templates/
!templates/base.html
!templates/index.html
!templates/edit.html
!.gitignore
!app.py
!requirements.txt
!README.md
!image1.jpg
!image2.jpg
!image3.jpg
!DatasetCreator-MACOS.zip