body {
    background-color: #f8f9fa;
}

.container {
    padding: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 20px !important;
}


.navbar-brand, .nav-link {
    color: #ffffff !important;
}

.alert {
    color: #1b1e21;
}

.remove-pair {
    margin-top: 10px;
}


.conversation-text {
    word-wrap: break-word;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.buttons .btn {
    margin-bottom: 0;
    width: 100px;
}
